<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Functions</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table >
        <tr  >
            <th >ism</th>
            <th >familya</th>
        </tr>
        <tr >
            <td >Muhammadjon</td>
            <td >Xamidov</td>
        </tr>
    </table>
    <h1>Hello World</h1>
    
    <p>Python uses whitespace indentation, rather than curly brackets or keywords, to delimit blocks. An increase in indentation comes after certain statements; a decrease in indentation signifies the end of the current block.[89] Thus, the program's visual structure accurately represents its semantic structure.[90] This feature is sometimes termed the off-side rule. Some other languages use indentation this way; but in most, indentation has no semantic meaning. The recommended indent size is four spaces.</p>
        <ul type="square">
<li>olma </li>
<li>nok</li>
<li>shaftoli</li>
        </ul>
        <ul type="sequi">
            <li>olma </li>
            <li>nok</li>
            <li>shaftoli</li>
                    </ul>
        <ol type="I">
<li>print</li>
<li>input</li>
<li>output</li>
        </ol>
<!-- #region -->
<!-- #endregion -->
</body>
</html>