<!DOCTYPE html>

<html>

<head>

<title>3-dars</title>

<h1>Web sahifa</h1>

<link rel="stylesheet" href="style.css">

</head>

<body class="bosh">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dignissimos a omnis dolorum maxime est quos, nesciunt consequuntur distinctio molestiae.</p>

<div class="b-1">

<img src="https://tuit.uz/logos/tuit_slide_two.jpg" alt="rasm" width="200px"><ul>

<li>Kirish</li>

<li>Ro'yxatdan o'tish</li>

<li>Guruhlar</li>

</ul>

<ol>

<li>Aloqa</li>

<li>Savollar</li>

</ol>

<li>Til</li>

</div>

<div>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, quidem, excepturi mollitia libero optio officia quae assumenda harum. Ipsam libero necessitatibus vel provident qui non, modi natus voluptatum accusamus voluptatem!</p>

</div>

</body>

</html>